*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
  background: linear-gradient(252.37deg, #bd00ff 5.28%, #00a3ff 98.3%);
  height: 100vh;
  background-attachment: fixed;
}

.container {
  margin: 1em 0.5em;
  height: calc(100% - 2em);
}

section {
  background: #221f26 url("../bg.jpg");
  background-size: cover;
  background-blend-mode: screen;
  background-position: -100px;
  height: 100%;
  padding: 2em;
  border-radius: 13px;
}

.logo {
  color: #2d7dff;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: -0.1em;
  text-align: center;
  width: 100%;
  margin: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-btn {
  cursor: pointer;
}

h1 {
  font-size: clamp(2.5rem, calc(-0.875rem + 8.333vw), 4rem);
  font-weight: 800;
  text-transform: uppercase;
  line-height: 89%;
  color: #fff;
}

.content p {
  font-size: clamp(2rem, calc(-0.875rem + 8.333vw), 3rem);
  line-height: 111%;
  font-weight: 300;
  color: #847d93;
  margin-top: 1.1em;
}

.cta {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 2.875em;
  display: inline-block;
  border: 1px solid #4d4d4d;
  padding: 1.25em 1.25em 1.25em calc(2.5em + 1.5em);
  position: relative;
  -webkit-transition: background 300ms ease-in;
  transition: background 300ms ease-in;
}

.cta::before {
  content: "";
  position: absolute;
  background: url("../arrow.svg") no-repeat;
  width: 1.5em;
  height: 1.5em;
  left: 1.25em;
}

.cta:hover {
  background: #2d7dff;
}

.cv {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 80%;
}

nav {
  position: fixed;
  z-index: 1;
  background: #2C2931;
  left: 0;
  top: 0;
  height: 100vh;
  max-width: 300px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

ul li {
  width: 100%;
}

li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: .875em 5em .875em 4em;
}

li a:hover {
  background: #413e47;
}

.active {
  background: #2d7dff;
}

.active:hover {
  background: #4497FF;
}

.back-btn {
  -webkit-transform: scalex(-1);
          transform: scalex(-1);
  padding: 3em 4em 2em;
  cursor: pointer;
  -webkit-transition: -webkit-transform 300ms ease-in;
  transition: -webkit-transform 300ms ease-in;
  transition: transform 300ms ease-in;
  transition: transform 300ms ease-in, -webkit-transform 300ms ease-in;
}

.back-btn:hover {
  -webkit-transform: scalex(-1) translateX(6px);
          transform: scalex(-1) translateX(6px);
}

@media (min-width: 700px) {
  .left-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .content p {
    width: 70%;
  }
}

@media (min-width: 1000px) {
  nav {
    position: unset;
    -webkit-transform: translateX(0) !important;
            transform: translateX(0) !important;
    border-radius: unset;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    height: 100%;
    padding-top: 4em;
  }
  .menu-btn,
  .back-btn {
    display: none;
  }
  header {
    padding: 1.6em;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2em;
  }
  .logo {
    text-align: left;
  }
  section {
    border-radius: unset;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    width: 100%;
    background-size: cover;
    background-position: 0;
    background-attachment: unset;
  }
  .content {
    -ms-grid-column-align: left;
        justify-self: left;
    margin-left: 4em;
  }
}
/*# sourceMappingURL=main.css.map */